main {
    display: grid;
    grid-template-areas: 
        "header header header header header"
        "aside aside main main main"
        "footer footer footer footer footer"
    ;

    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 15vh 80vh 5vh;
}

app-header {
    grid-area: header;
}

@media (width <= 1080px) {
    main {
        grid-template-areas: 
        "main main main"
        "footer footer footer";

        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, min(90vh));
    }

    app-header {
        grid-area: footer;
    }
}