<ul class="menu">
    <a routerLink="home" class="menu-item">
        <li>
            <i class="ti ti-home menu-item--icon"></i>
            <span class="menu-item--text">Home</span>
        </li>
    </a>

    <a routerLink="pantry" class="menu-item">
        <li>
            <i class="ti ti-chef-hat menu-item--icon"></i>
            <span class="menu-item--text">My pantry</span>

        </li>
    </a>

    <a routerLink="calendar" class="menu-item">
        <li>
            <i class="ti ti-calendar-week menu-item--icon"></i>
            <span class="menu-item--text">My calendar</span>
        </li>
    </a>
</ul>