ul {
    display: flex;
    gap: 16px;
    list-style-type: none;
    padding: 0;
    justify-content: center;
}

@media (width < 1080px) {
    ul  li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}