
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@use 'assets/themes.scss' as themes;

@include mat.core();

$light-text-color: #40967c;
$dark-text-color: white;

:root {
  @include mat.all-component-themes(themes.$light-theme);
  color: $light-text-color;
}

// Change to dark mode if user prefers it
@media(prefers-color-scheme: dark) {
  :root {
    @include mat.all-component-colors(themes.$dark-theme);
    color: $dark-text-color;
  }
}