:root {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color-scheme: light dark;
    height: 100vh;

}

a {
    color: var(--primary-color);
}

.ti {
    /* Tabler icons */
    font-size: 2em;
}

@media (width <=1080px) {
    :root {
        font-size: .7em;
    }
}